PORT=5005
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/database_name
JWT_SECRET=your_jwt_secret_key
ML_SERVICE_URL=http://127.0.0.1:8008

# Firebase Credentials Example
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
FIREBASE_DATABASE_URL=https://your_project.firebaseio.com
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_STORAGE_BUCKET=your_project.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
FIREBASE_APP_ID=your_app_id
FIREBASE_MEASUREMENT_ID=your_measurement_id
